
body {

    font-family: 'Roboto Slab', serif;
}

header {
background-color: yellow;
position: fixed;
left:0;
right: 0;
top:0;
display:flex;
justify-content: space-around;  
font-size: 30px;
font-family: 'Roboto Slab', serif;
font-weight: 900; 
}




.grid-container {
    margin-top: 50px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-template-rows: 100px 100px;
}

.grid-container  div {

    font-size: 36px;
    padding: 30px 0px 0px 60px;

}
